.app {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.message {
  padding: 16px;
}

.button {
  border-radius: 2px;
  font-size: 14px;
  margin: 4px;
  padding: 4px 8px;
}

.button-list {
  display: flex;
}

.app-link {
  color: #61dafb;
}
